<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>demo-widget</title>
  </head>
  <body>
    <vue-widget url='wss://madpenguin.uk/ws' user='guest' pass='guest' realm='crossbar'></vue-widget>
  </body>
</html>
