<template>
  <div v-if="visible">
    <slot />
    <slot v-show="false" name="headerToolbar" />
  </div>
</template>
<script>
import jsPanel from 'jspanel4/source/jspanel.js'

export default {
  name: 'JsPanel',
  props: ['visible', 'options'],
  computed: {
  },
  watch: {
    visible (isVisible) {
      if (isVisible) this.createPanel()
    }
  },
  mounted () {
    if (this.visible) this.createPanel()
  },
  methods: {
    async createPanel () {
      await this.$nextTick()
      this.options.onclosed = this.close
      this.options.content = this.$slots.default[0].elm
      jsPanel.create(this.options)
    },
    close () {
      this.$emit('close')
      this.$emit('update:visible', false)
    }
  }
}
</script>
