<template>
  <div>
    <jsPanel :visible.sync="show" :options="options" @close="close_panel()">
      <b-table
        :data="sessions"
        :checked-rows.sync="checkedRows"
        :is-row-checkable="(row) => row.id !== 3"
        checkable>
        <template slot-scope="props">
          <b-table-column field="authid" label="Authid" sortable>
            <div>{{ props.row.authid }}</div>
          </b-table-column>
          <b-table-column field="session" label="SessionId" sortable>
            <div>{{ props.row.session }}</div>
          </b-table-column>
          <b-table-column field="type" label="Type" sortable>
            <div>{{ props.row.transport.type }}</div>
          </b-table-column>
          <b-table-column field="protocol" label="Protocol" sortable>
            <div>{{ props.row.transport.protocol }}</div>
          </b-table-column>
          <b-table-column field="peer" label="Peer" sortable>
            <div>{{ address(props.row.transport) }}</div>
          </b-table-column>
        </template>
      </b-table>
    </JsPanel>
    <radial-menu
      class="crossbar-demo-widget"
      :itemSize="50"
      :radius="120"
      :angle-restriction="90">
        <radial-menu-item
          v-for="(item, index) in items"
          :key="index"
          style="background-color: white"
          @click="() => handleClick(item)">
          <span><font-awesome-icon :icon="item" /></span>
        </radial-menu-item>
      </radial-menu>

      <div class="bulma">
        <b-modal :active.sync="isCardModalActive" :width="640" scroll="clip">
              <div class="card">
                  <div class="card-image">
                      <figure class="image is-4by3">
                        <img :src="imagepath" alt="Image">
                      </figure>
                  </div>
                  <div class="card-content">
                      <div class="media">
                          <div class="media-left">
                              <figure class="image is-48x48">
                                  <img src="https://secure.gravatar.com/avatar/fdb2ffb9666011848b9a7a9737e7539f" alt="Image">
                              </figure>
                          </div>
                          <div class="media-content">
                              <p class="title is-4">Oddjobz</p>
                              <p class="subtitle is-6">oddjobz@linux.co.uk</p>
                          </div>
                      </div>

                      <div class="content">
                          This is a widget to demonstrate how to present a reactive Vue.js/Autobahn app as a
                          generic widget that can be included into any online application.
                          <br><br>
                          <small>&copy; Crossbar.io - 2019</small>
                      </div>
                  </div>
              </div>
          </b-modal>
      </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { RadialMenu, RadialMenuItem } from 'vue-radial-menu'
import Connection from '@/libraries/connect.js'
import autobahn from 'autobahn-browser/autobahn.js'
import _ from 'lodash'

export default {
  name: 'Menu',
  props: ['url', 'user', 'pass', 'realm'],
  components: {
    RadialMenu,
    RadialMenuItem,
    JsPanel: require('./JsPanel.vue').default
  },
  computed: {
    ...mapGetters(['get_sessions']),
    sessions: function () {
      return Object.values(this.get_sessions)
    },
    imagepath: function () {
      if (!this.url) {
        return '../assets/space.png'
      }
      return 'https://linux.co.uk/space.png'
    }
  },
  data () {
    return {
      items: ['binoculars', 'home', 'coffee'],
      isCardModalActive: false,
      checkedRows: [],
      show: false,
      options: {
        headerTitle: 'Current Sessions',
        theme: 'primary',
        contentSize: '700 220'
      }
    }
  },
  methods: {
    ...mapActions(['add_session', 'del_session']),
    handleClick (item) {
      switch (item) {
        case 'binoculars':
          let key = this.pass
          let onchallenge = function (session, method, extra) {
            if (method === 'wampcra') {
              return autobahn.auth_cra.sign(key, extra.challenge)
            } else {
              this._connection.toastFailure(`don't know how to authenticate using ${method}`)
            }
          }
          this._connection = new Connection.Connection(this)
          this._connection.initiate({
            url: this.url,
            authid: this.user,
            realm: this.realm,
            authmethods: ['wampcra'],
            onchallenge: onchallenge
          }, this.on_connect)
          this.show = true
          break
        case 'home':
          this.$toast.open('This is currently a spare button')
          break
        case 'coffee':
          this.isCardModalActive = true
          break
      }
    },
    address (row) {
      if (_.has(row.http_headers_received, 'x-forwarded-for')) return row.http_headers_received['x-forwarded-for']
      if (_.has(row.http_headers_received, 'x-real-ip')) return row.http_headers_received['x-real-ip']
      return row.peer
    },
    on_connect () {
      let self = this

      let failure = function (error) {
        this._connection.failure('subscription failed', error)
      }
      let success = function () {
        self._connection.call('wamp.session.list', [], function (data) {
          for (let id of data) {
            self._connection.call('wamp.session.get', [id], function (data) {
              self.add_session({ id: id, session: data })
            })
          }
          self._connection._buffered = false
        },
        function (error) {
          self._connection.failure('wamp.session.list failed', error)
        })
      }
      this._connection.subscribe('wamp.session.on_join', this.on_join, {}, null, failure)
      this._connection.subscribe('wamp.session.on_leave', this.on_leave, {}, success, failure)
    },
    on_join (data) {
      for (let session of data) {
        this.add_session({ id: session.session, session: session })
      }
    },
    on_leave (data) {
      for (let id of data) {
        this.del_session({ id: id })
      }
    },
    close_panel () {
      this.show = false
    }
  }
}
</script>

<style lang="scss">

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/mixins.sass";
@import "~bulma/sass/utilities/derived-variables.sass";
@import "~buefy/src/scss/utils/_variables.scss";
@import "~buefy/src/scss/components/_notices.scss";

div.jsPanel, div.bulma {
    @import '~jspanel4/dist/jspanel.css';
    @import "~bulma";
    @import "~buefy/src/scss/buefy";
}
</style>

<style lang="sass">

div.vue-radial-menu-wrapper
  z-index: 9999;

div.bulma .modal.is-active
  z-index: 10000;

div.crossbar-demo-widget div.vue-radial-menu-item
  background-color: #cce6ff!important;

div.crossbar-demo-widget
  position: fixed;
  right: 12px;
  bottom: 12px;

.jsPanel-content
    font-size: 1em!important;

.jsPanel-ftr
    font-size: 1em!important;

.jsPanel-hdr-toolbar
  font-size: 1em!important;

.jsPanel-titlebar
  font-size: 1em!important;

</style>
