<template>
  <Menu :user="user" :pass="pass" :url="url" :realm="realm"/>
</template>

<script>
import Menu from './components/Menu.vue'

export default {
  name: 'app',
  components: { Menu },
  props: ['url', 'user', 'pass', 'realm']
}
</script>
